<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bbc.umarket.umarketapp2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_um_foreground"
        android:label="UMarket"
        android:roundIcon="@mipmap/logo_um_round"
        android:theme="@style/SplashScreenTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".Main.Checkout"
            android:exported="false" />
        <activity
            android:name=".Main.AddToCart"
            android:exported="false" />
        <activity
            android:name=".Main.RateAndReview"
            android:exported="false" />
        <activity
            android:name=".Main.SellerCenter"
            android:exported="false" />
        <activity
            android:name=".Main.SearchedListing"
            android:exported="false" />
        <activity
            android:name=".Main.CategorizedListing"
            android:exported="true" />
        <activity
            android:name=".Main.AddListing"
            android:exported="true" />
        <activity
            android:name=".Main.Settings"
            android:exported="true" />
        <activity
            android:name=".Main.ProductDetails"
            android:exported="true" />
        <activity
            android:name=".Main.EditProfile"
            android:exported="true" />
        <activity
            android:name=".Main.HomeContainer"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Main.Register"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Main.Login"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main.Search"
            android:exported="false" />


    </application>

</manifest>